<div class="md-card uk-margin-medium-bottom">
  <div class="md-card-toolbar">
    <div class="md-card-toolbar-actions">
      <a href="#" class="md-btn md-btn-small md-btn-flat md-btn-flat-primary">Add Part</a>
    </div>
    <h3 class="md-card-toolbar-heading-text">
      Parts
    </h3>
  </div>
  <div class="md-card-content">
    <%= for (part) in course.Parts { %>

    <div class="uk-grid" data-uk-grid-margin="">
      <div class="uk-width-medium-2-3 uk-row-first">
        <h3><%= part.Name %></h3>
      </div>
      <div class="uk-width-medium-1-3">
        <a href="<%= editCoursePartPath({ course_id: course.Project, part_id: part.ID }) %>"
           class="uk-align-right md-btn md-btn-small md-btn-flat md-btn-flat-primary">Edit</a>
      </div>
    </div>
    <div class="uk-margin-medium-bottom uk-margin-left">
      <%= partial("courses/weeks.plush.html", { part: part } ) %>
    </div>

    <% } %>


  </div>
</div>
