<div class="uk-grid uk-margin-small-bottom" data-uk-grid-margin="">
  <div class="uk-width-medium-2-3 uk-row-first">
    <div class="uk-text-bold uk-text-large">Weeks</div>
  </div>
  <div class="uk-width-medium-1-3">
    <a href="<%= editCoursePartPath({ course_id: course.Project, part_id: part.ID }) %>"
       class="uk-align-right md-btn md-btn-small md-btn-flat md-btn-flat-primary">Add Week</a>
  </div>
</div>
<%= for (week) in part.Weeks { %>
  <div class="uk-grid" data-uk-grid-margin="">
    <div class="uk-width-medium-2-3 uk-row-first">
      <span class="uk-text-large uk-text-bold"><%= week.Name %></span>
      <div class="uk-text-small"><%= week.Prefix %>: <%= week.BeginDate %> - <%= week.EndDate %></div>
      <div class="uk-text-small"><%= week.Description %></div>
      <%= if (week.Assessment != "") { %>
      <div class="uk-text-small"><%= week.Assessment %></div>
      <% } %>
    </div>
    <div class="uk-width-medium-1-3">
      <a href="<%= editCoursePartPath({ course_id: course.Project, part_id: part.ID }) %>"
         class="uk-align-right md-btn md-btn-small md-btn-flat md-btn-flat-primary">Edit</a>
    </div>
  </div>
  <div class="uk-margin-left">
    <%= partial("courses/readings.plush.html", { wek: week }) %>
  </div>
  <div class="uk-margin-left uk-margin-medium-bottom">
    <%= partial("courses/filesets.plush.html") %>
  </div>
<% } %>
